Source: ros-kinetic-ecto-opencv
Section: misc
Priority: extra
Maintainer: Vincent Rabaud <vincent.rabaud@gmail.com>
Build-Depends: debhelper (>= 9.0.0), libboost-all-dev, ros-kinetic-catkin, ros-kinetic-ecto, ros-kinetic-opencv-candidate, ros-kinetic-rosunit
Homepage: http://plasmodic.github.io/ecto_opencv
Standards-Version: 3.9.2

Package: ros-kinetic-ecto-opencv
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, libboost-all-dev, ros-kinetic-ecto, ros-kinetic-opencv-candidate
Description: Ecto bindings for common opencv functionality.
